/*General page styling*/
.container-announcements {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-height: 80vh;
    gap: 5vw;
}



/*Create announcements*/
.container-post-announcements {
    width: 90vw;
    min-height: 40vh;
    background-color: blue;
    padding: 1rem 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

.container-post-announcements form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 75%;
    padding: 1rem;
    border: 2px solid var(--black);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.container-post-announcements h2 {
    font-size: 2rem;
}

.wrapper-announcements-content {
    height: 90%;
    margin-bottom: 1rem;
}

.wrapper-announcements-button {
    height: 10%;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
}

.wrapper-announcements-button button {
    padding: .8rem;
    background-color: gray;
    border-radius: 25px;
}

textarea {
    min-height: 20vh;
    height: 90%;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-align: left;
    padding: .5rem;
}





/*View announcements*/
.container-view-announcements {
    width: 90vw;
    margin: auto;
    max-height: 80vh;
    min-height: 20vh;
    background-color: var(--redTrans);
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 25px;
}

.wrapper-announcements {
    min-width: 100%;
    min-height: 100%;
}

.wrapper-announcements li {
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem;
    margin: 1rem;
    background-color: var(--black);
    border-radius: 25px;
}

.wrapper-announcement-metadata {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right !important;
    width: fit-content;
    margin-left: auto;
    gap: 1rem;
}

.wrapper-announcement-metadata button {
    padding: .5rem 1rem;
    border: 2px solid var(--white);
    border-radius: 25px;
    transition: background-color .5s;
}

.wrapper-announcement-metadata button:hover {
    background-color: var(--redTrans);
}


@media (min-width: 1022px) {
    .container-announcements {
        flex-direction: row;
        height: 80vh;
        padding: 0;
    }

    /*Create announcements*/
    .container-post-announcements {
        width: 25vw;
        height: 80%;
    }

    /*View announcements*/
    .container-view-announcements {
        width: 60vw;
        height: 80%;
    }
}