/*General Calendar Styling*/
.container-schedule {
    display: flex;
    flex-direction: column;
}


/*Calendar Styling*/
.container-calendar {
    width: 90%;
    height: calc(100vh - 125px);
    border: 1px solid var(--red);
    background-color: var(--black);
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 25px;
    padding: 1rem;
    overflow-y: scroll;
}

.event-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.wrapper-schedule-header {
    width: fit-content;
    margin: auto;
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 600;
}

.container-event-card {
    width: 90%;
    margin: auto;
    border: 1px solid var(--white);
    background-color: var(--red);
    border-radius: 25px;
    text-align: center;
    padding: 1.5rem 0;
}

.event-card-header {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.event-card {
    width: 100%;
    background-color: var(--black);
    text-align: left;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
}

.event-card-description {
    background-color: var(--white);
    margin-top: 1rem;
}

.event-card p {
    color: var(--black);
    padding: 1rem;
}

.event-card a {
    background-color: var(--lightGray);
    padding: .5rem;
    border-radius: 25px;
    transition: background-color .5s;
}

.event-card a:hover {
    background-color: var(--darkGray);
}

.event-card-section {
    background-color: var(--redTrans);
    width: 90%;
    margin: auto;
    border-radius: 25px;
    padding-top: 1rem;
    margin-top: 1rem;
}

.event-card-section h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}


/*Create Event Styling*/
.container-create-event {
    width: calc(90vw - 4px);
    border: 1px solid var(--white);
    background-color: var(--red);
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: visible;
    position: fixed;
    top: 0;
    left: -90vw;
    z-index: 500;
    transition: all .25s;
}

.create-event-active-cont {
    left: 0;
    z-index: 1500;
}

.toggle-create-event {
    width: 40px;
    height: 40px;
    background-color: var(--red);
    display: flex;
    position: fixed;
    left: -2px;
    top: 10vh;
    border: 1px solid var(--white);
    justify-content: center;
    align-items: center;
    color: var(--black);
    z-index: 500;
    transition: all .25s;
}

@media (min-width: 768px) {
    .toggle-create-event {
        top: 25vh;
    }
}

.create-event-active-btn {
    left: calc(90vw - 5px);
}

.container-create-event h2 {
    color: var(--black);
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
}

.container-create-event form {
    background-color: var(--red);
    text-align: left;
}

.container-create-event form div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.container-create-event form div label {
    color: var(--black);
    font-size: 1.3rem;
    padding: .5rem 0;
}

.container-create-event form div input[type="text"] {
    color: var(--black);
    border: 1px solid var(--black);
}

.wrapper-date-time-input {
    width: 60%;
    display: grid !important;
    grid-template-columns: 30% 30%;
    margin-left: auto !important;
    margin-right: auto !important;
    gap: 10%;
    justify-content: center;
    align-content: center;
}

.wrapper-event-button {
    margin: auto !important;
    margin-bottom: 1rem !important;
    width: fit-content;
}

.wrapper-event-button button {
    padding: .5rem 1rem;
    background-color: var(--lightGray);
    border-radius: 25px;
    transition: background-color .5s;
}

.wrapper-event-button button:hover {
    background-color: var(--darkGray);
}

/*Responsive Display*/

@media (min-width: 768px)
{
    .container-calendar {
        height: calc(100vh - 225px);
    }

    .event-grid {
        grid-template-columns: 1fr 1fr;
    }
}