/*General Calendar Styling*/
.container-schedule {
    display: flex;
    flex-direction: column;
}


/*containers*/
.container-calendar, .container-create-event {
    width: 90%;
    height: calc(100vh - 125px);
    border: 1px solid orange;
    background-color: var(--black);
    margin: auto;
    margin-bottom: 1rem;
}

.container-create-event {
    height: fit-content;
    text-align: center;
    background-color: var(--red);
}

.container-create-event h2 {
    color: var(--black);
    font-size: 1.8rem;
    padding: 1rem;
}



/*Calendar Styling*/



/*Create Event Styling*/
.container-create-event form {
    background-color: var(--red);
    text-align: left;
}

.container-create-event form div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.container-create-event form div label {
    color: black;
    font-size: 1rem;
    padding: .5rem 0;
}

.wrapper-create-date, .wrapper-create-time {
    display: flex;
}

.container-create-event .wrapper-announcements-button {
    margin: auto;
    margin-bottom: 1rem;
}

/*Responsive Display*/

@media (min-width: 768px)
{
    .container-calendar {
        height: calc(100vh - 225px);
    }
}