.container-signup {
    width: 80vw;
    background-color: var(--redTrans);
    margin: auto;
    padding: 1.5rem;
    margin-top: 5rem;
    color: var(--black);
    border-radius: 25px;
}

.container-signup h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.container-signup form {
    display: block;
}

.container-signup form div {
    display: flex;
    flex-direction: column;
}

.container-signup div label {
    font-size: 1.5rem;
    text-decoration: solid 1px underline var(--black);
}

input[type=text], input[type=email], input[type=password], #team {
    padding: .8rem;
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: antiquewhite;
}

.container-signup-button {
    width: fit-content;
    margin: auto;
}

.container-signup-button button {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
    background-color: antiquewhite;
    transition: background-color .25s ease-in-out;
}

.container-signup-button button:hover {
    background-color: rgb(184, 183, 183);
    cursor: pointer;
}


@media (min-width: 768px) {
    .container-signup {
        margin-top: 15vh;
    }
}