/*General Styling*/

/*Vod Upload Menu*/
.container-vods-upload {
    background-color: blue;
    min-height: 20vh;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 1rem;
}


/*Video Display*/
.container-vods-display {
    background-color: var(--redTrans);
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 25px;
    display: grid;
    padding: 1rem 0;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.video-placeholder {
    width: 80%;
    height:25vh;
    background-color: white;
    border: 2px solid var(--black);
    margin: auto;
}

@media (min-width: 768px) {
    .container-vods-display {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1022px) {
    .container-vods-display {
        grid-template-columns: 1fr 1fr 1fr;
    }
}