/*General Styling*/

/*Vod Upload Menu*/
.container-vods-upload {
    background-color: var(--red);
    min-height: 20vh;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.wrapper-vods-upload-header {
    width: 80%;
    margin: auto;
    background-color: var(--black);
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

/*video container*/
.container-vods {
    background-color: var(--redTrans);
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 25px;
}

/*vod header*/
.wrapper-vods-header {
    display: flex;
    padding: 1rem 0;
    width: fit-content;
    margin: auto;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bold;
}

/*Search for vod*/
.container-vod-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.container-vod-search input {
    color: var(--black);
}

.hide-vod {
    display: none !important;
}

@media (min-width: 768px) {
    .container-vod-search {
        flex-direction: row;
        width: 60%;
    }

    .container-vod-search input {
        width: 60%;
        margin-left: 1rem;
    }
}

/*Video Display*/
.container-vods-display {
    display: grid;
    padding: 1rem 0;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.video-wrapper {
    width: 80%;
    height:fit-content;
    background-color: white;
    border: 2px solid var(--black);
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.video-thumbnail {
    display: flex;
    flex-direction: column;
}

.video-thumbnail img {
    width: 100%;
    border: 2px solid var(--black);
}

.video-wrapper-info {
    display: flex;
    flex-direction: column;
}

.video-wrapper-info h3 {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.video-wrapper-info a {
    margin: auto;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: var(--lightGray);
    border: 1px solid var(--black);
    border-radius: 25px;
    transition: background-color .3s;
}

.video-wrapper-info a:hover {
    background-color: var(--darkGray);
}



@media (min-width: 768px) {
    .container-vods-display {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1022px) {
    .container-vods-display {
        grid-template-columns: 1fr 1fr 1fr;
    }
}