{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class = "container-announcements">
    {% if adminStatus == True %}
    <section class = "container-post-announcements">  
        <h2>Create an Announcement</h2>
        <form method="POST">
            <div class = "wrapper-announcements-content">
                <textarea name = "announcementMsg" id="announcementMsg" Placeholder = "Write your announcement here..."></textarea>
            </div>
            <div class = "wrapper-announcements-button">
                <button type="submit">Post Announcement</button>
            </div>
        </form>
    </section>
    {% endif %}
    <section class = "container-view-announcements">
        <ul class = "wrapper-announcements">
            {% for announcement in user.announcement %}
            <li class = "announcement-wrapper">{{ announcement.data }} </br> <span class = "timestamps">{{ announcement.date }}</span></li>
            {% endfor %}
        </ul>
    </section>
</div>

<script>
    selectLinks("announcements");
</script>

{% endblock %}