{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class = "container-announcements">
    {% if adminStatus == True %}
    <section class = "container-post-announcements">  
        <h2>Create an Announcement</h2>
        <form method="POST">
            <div class = "wrapper-announcements-content">
                <textarea name = "announcementMsg" id="announcementMsg" Placeholder = "Write your announcement here..."></textarea>
            </div>
            <div class = "wrapper-announcements-button">
                <button type="submit">Post Announcement</button>
            </div>
        </form>
    </section>
    {% endif %}
    <section class = "container-view-announcements">
        <ul class = "wrapper-announcements">
            {% for announcement in user.announcement %}
            <li class = "announcement-wrapper">
                <div class = "wrapper-announcement-data">
                    <p>{{ announcement.data }}</p>
                </div>
                <div class = "wrapper-announcement-metadata">
                    <p>{{ announcement.authorName }}</p>
                    <p>{{ announcement.team }}</p>
                    <p>{{ announcement.date }}</p>
                    {% if user.isAdmin == 1 %}
                    <button type="button" class="delete-announcement" onclick="deleteObj(this, 'announcements')" id = "announcements{{ announcement.id }}">Delete Announcement</button>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

<script>
    selectLinks("announcements");
</script>

{% endblock %}