<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/login.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/landing.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/sign_up.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/announcements.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/LoL.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/vods.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/schedule.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/roster.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src = "{{ url_for('static',filename='/js/left_nav.js') }}"></script>
    <script src = "{{ url_for('static',filename='/js/current_page.js') }}"></script>
    
    {% block css %}
    {% endblock %}
</head>
<body>

    <nav class = "main-header-nav show-on-tablet show-on-desktop">
      <div class = "container-header-title">
        <h1>Davenport University Esports</h1>
      </div>
      <div class = "container-header-nav">
        <div>
          <ul>
            <li><a href="/" class = "nav-link" id="home">Home</a></li>
            {% if user.is_authenticated == False %}
            <li><a href="#" class = "nav-link" id = "interestForm">Student Interest Form</a></li>
            {% endif %}
            {% if user.is_authenticated == True %}
            <li><a href="/schedule" class = "nav-link" id="schedule">Schedule</a></li>
            <li><a href="/announcements" class = "nav-link" id="announcements">Announcements</a></li>
            <li><a href="/vods" class = "nav-link" id="vods">Vods</a></li>
            {% endif %}
            {% if user.is_authenticated == True %}
            {% if user.playerTeam == "League of Legends" %}
            <li><a href="/LoL" class = "nav-link" id="profile">Player Profile</a></li>
            {% endif %}
            {% endif %}
            {% if user.is_authenticated == True %}
            {% if adminStatus == 1 %}
            <li><a href="/roster" class = "nav-link" id="roster">Roster Stats</a></li>
            {% endif %}
            {% endif %}
          </ul>
        </div>
        <div>
          <ul>
            {% if user.is_authenticated == False %}
            <li><a href="/login" class = "nav-link" id="login">Login</a></li>
            <li><a href="/sign-up" class = "nav-link" id="sign_up">Sign Up</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="/profile">{{user.firstName}} {{user.lastName}}</a></li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section class = "container-left-nav-toggle show-on-mobile">
      <div class = "wrapper-left-nav-toggle">
        <button onclick = "toggleLeftNav()"><i class="fa-solid fa-bars"></i></button>
      </div>
    </section>

    <nav class = "main-left-nav show-on-mobile">
      <div class = "container-left-nav">
        <div class = "left-nav-top">
          <div class = "container-header-title">
            <h1>Davenport University Esports</h1>
          </div>
          <div class = "container-header-nav">
              <ul>
                <li><a href="/" class = "nav-link" id="home">Home</a></li>
                {% if user.is_authenticated == False %}
                <li><a href="#" class = "nav-link" id = "interestForm">Student Interest Form</a></li>
                {% endif %}
                {% if user.is_authenticated == True %}
                <li><a href="/schedule" class = "nav-link" id="schedule">Schedule</a></li>
                <li><a href="/announcements" class = "nav-link" id="announcements">Announcements</a></li>
                <li><a href="/vods" class = "nav-link" id="vods">Vods</a></li>
                {% endif %}
                {% if user.is_authenticated == True %}
                {% if user.playerTeam == "League of Legends" %}
                <li><a href="/LoL" class = "nav-link" id="profile">Player Profile</a></li>
                {% endif %}
                {% endif %}
                {% if user.is_authenticated == True %}
                {% if adminStatus == 1 %}
                <li><a href="/roster" class = "nav-link" id="roster">Roster Stats</a></li>
                {% endif %}
                {% endif %}
              </ul>
          </div>
        </div>
        
        <div class = "left-nav-bottom">
          <div>
            <ul>
              {% if user.is_authenticated == False %}
              <li><a href="/login" class = "nav-link" id="login">Login</a></li>
              <li><a href="/sign-up" class = "nav-link" id="sign_up">Sign Up</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a href="/profile">{{user.firstName}} {{user.lastName}}</a></li>
              <li><a href="/logout">Logout</a></li>
              {% endif %}
            </ul>
          </div>
          <div class = "wrapper-left-nav-close">
            <button onclick = "toggleLeftNav()">Close Menu</button>
          </div>
        </div>
      </div>
    </nav>

    <!-- this block flashes messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for message in messages %}
      <div role="alert"> 
        {{ message }} 
        <button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class = "container-base-content">
      <!--this can be overwritten in child files to add content-->
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>