{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1 align="center">Announcements</h1>
<h3>hello {{ acc }}</h3>
<ul id="announcements">
{% for announcement in user.announcement %}
<li>{{ announcement.data }}</li>
{% endfor %}
</ul>
<!-- Checks if the user is admin, if not then they can't create notes-->
{% if adminStatus == True %}
<form method="POST">
    <textarea name="announcement" id="announcement"></textarea>
    <button type="submit">Announce!</button>
</form>
{% endif %}
{% endblock %}