{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<section class = "container-login">
    <form method="POST">
        <h3>Login</h3>
        <div>
            <label for="email">Email Address</label>
            <!-- The name field is important here, this is what the info is called that gets passed to the backend -->
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter DU email">
        </div>
        <div>
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password">
        </div>
        <div class = "container-login-button">
            <button type="submit">Login</button>
        </div>
    </form>
</section>
{% endblock %}