{% extends "base.html" %}
{% block title %} DU LoL {% endblock %}
{% block content %}
<section class = "container-user-info">
    <div class = "container-user-header">
        <div class = "wrapper-user-img">
        
        </div>
        <div class = "wrapper-user-desc">
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <h2>{{user.ign}}</h2>
        </div>
    </div>
    
    <div class = "container-profile-announcements">
        <ul>
            {% for announcement in user.announcement %}
            <li class = "announcement-wrapper">{{ announcement.data }} </br> <span class = "timestamps">{{ announcement.date }}</span></li>
            {% endfor %}
        </ul>
    </div>

    <div class = "container-profile-schedule">
        <h1>Schedule is inserted here</h1>
        {% for event in events %}
        {{ events }}
        {% endfor %}
    </div>

    <div class = "container-profile-stats">
        <h1>Stats are inserted here</h1>
    </div>
    
</section>

<script>
    selectLinks("profile");
</script>
{% endblock %}