{% extends "base.html" %}
{% block title %} Roster {% endblock %}
{% block content %}
<section class = "container-roster-cards">
    <div class = "wrapper-rc-header">
        <h1>{{user.playerTeam}} Roster</h1>
    </div>
    <div>
        <!--Still working on logic.  Should loop all users then display if team matches-->
        <ul>
            {% for player in user.User %}
                
            {% endfor %}
        </ul>
    </div>
</section>

<script>
    selectLinks("roster");
</script>
{% endblock %}