{% extends "base.html" %}
{% block title %} schedule {% endblock %}
{% block content %}
<section class = "container-calendar">
    <h1>CALENDAR IS INSERTED HERE</h1>
    {% for event in events %}
    {{ events }}
    {% endfor %}
</section>
{% if adminStatus == True %} 
<h2>Create an Event</h2>
<form method="POST">
    <textarea name = "eventDetails" id="eventDetails" Placeholder = "Provide a description of the event"></textarea>
    <div class = "wrapper-announcements-button">
        <button type="submit">Create Event</button> 
    </div> 
</form>
<script>
    selectLinks("schedule");
</script>
{% endblock %}