{% extends "base.html" %}
{% block title %} Sign-Up {% endblock %}
{% block css %} <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='sign_up.css') }}"> {% endblock %}
{% block content %}
<section class = "container-signup">
    <h3>Sign Up</h3>
    <form method="POST" >
        <div>
            <label for="firstName">First Name</label>
            <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="Enter first name...">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Enter last name...">
        </div>
        <div>
            <label for="ign">IGN</label>
            <input
                type="text"
                id="ign"
                name="ign"
                placeholder="Enter in game name...">
        </div>
        <div>
            <label for="email">Email Address</label>
            <!-- The name field is important here, this is what the info is called that gets passed to the backend -->
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter DU email...">
        </div>
        <div>
                <label for="password1">Password</label>
                <input
                    type="password"
                    id="password1"
                    name="password1"
                    placeholder="Enter your password...">
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input
                type="password"
                id="password2"
                name="password2"
                placeholder="Confirm your password...">
        </div>
        </br>
        <div>
            <label for="team">Select your team</label>
            <select name="team" id="team">
                <option value="League of Legends">League of Legends</option>
                <option value="CS:GO">CS:GO</option>
                <option value="Super Smash Bros">Super Smash Bros</option>
            </select>
        </div> 
        <div class = "container-signup-button">
            <button type="submit">Sign Up</button>
        </div>
</section>

<script>
    selectLinks("sign_up");
</script>
{% endblock %}