{% extends "base.html" %}
{% block title %} DU LoL {% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if adminStatus == True %}
<section class = "container-vods-upload">

</section>
{% endif %}
{% endif %}

<section class = "container-vods-display">
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
    <div class = "video-placeholder">

    </div>
</section>

<script>
    selectLinks("vods");
</script>
{% endblock %}