{% extends "base.html" %}
{% block title %} DU LoL {% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if adminStatus == 1 %}
<section class = "container-vods-upload">
    <div class = "wrapper-vods-upload-header">
        <h1>Upload VOD</h1>
    </div>
    <form>
            
    </form>
</section>
{% endif %}
{% endif %}

<section class = "container-vods-display">
    {% for video in videos %}
    <div class = "video-placeholder">
       <li>{{ video }}</li>
    </div>
    {% endfor %}
</section>

<script>
    selectLinks("vods");
</script>
{% endblock %}